<a href="https://colab.research.google.com/github/MouryaMathew/MRUH-Training/blob/main/Functions_and_more.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
My_int = 42
print ('Original integer:', My_int)

Original integer: 42

In [31]:

my_list = [1, 'hello',3.14,True]
print ('Original list:', my_list)

Original list: [1, 'hello', 3.14, True]

In [32]:
my_tuple = 'apple',3.14,False
print('Original tuple:',my_tuple)
print('First element:',my_tuple[0])

Original tuple: ('apple', 3.14, False)
First element: apple

In [33]:
for i in range (1,6):
  print(i)

1
2
3
4
5

In [34]:
i =1
while i <=5:
  print(i)
  i +=1

1
2
3
4
5

In [36]:
def greet (name):
  """This function takes a name as an agument functions and prints output"""
  print("Hello, " + name + "!")
  greet("Alice")

In [37]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [38]:
a='Hello, World!'
b=a.title()
print(b)

Hello, World!

In [39]:
a='Hello, World!'
b=a.split()
print(b)

['Hello,', 'World!']

In [40]:
a = range(10)
b=list(a)
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
def add_numbers(a,b):
  return a+b
result =  add_numbers(10,2)
print('result:',result)

result: 12

In [42]:
def greet(name, greeting = 'hello'):
  print(f'{greeting }, {name}!')

In [43]:
def calculate_sum(*arg):
  total = sum(args)
  return total
  print('Sum of 1,2,3:',calculate_sum(1,2,3))

In [45]:
correct_username = 'Mathew'
correct_password = '123'
while True:
  username = input('Enter username:')
  password = input('Enter password:')
  if username == correct_username and password == correct_password:
    print('Login successful')
    break
  else:
    print('Invalid username or password')

Enter username:Mathew
Enter password:123
Login successful

In [46]:
class Person:
    def _init_(self, name):
        self.name = name
        person1 = Person("Alice")
        print(person1._dict_)
        print(len(person1.name))

In [47]:
title = "hello world"
capitalized_title = title.capitalize()
print("Capitalized Title:", capitalized_title)
swapped_case_title = title.swapcase()
print("Swapped Case Title:", swapped_case_title)

Capitalized Title: Hello world
Swapped Case Title: HELLO WORLD

In [48]:
words = ['Hello', 'World']
result = " ".join(words)
print(result)
text = "   Hello World   "
print(text.lstrip())
print(text.rstrip())

def check_even_odd(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"
result = check_even_odd(4)
print(result)

Hello World
Hello World
   Hello World
Even

In [53]:
def sum_even_numbers(n):
  sum_of_evens = 0
  for i in range(2, n + 1, 2):
    sum_of_evens += i
  return sum_of_evens

n = 10
result = sum_even_numbers(n)
print(f"The sum of even numbers between 1 and {n} is: {result}")

The sum of even numbers between 1 and 10 is: 30